<div class="page-wrapper">
    <p-steps [model]="steps" [(activeIndex)]="activeStep" [readonly]="false"></p-steps>
    <div class="mt-4">
        @if (activeStep === 0) {
            <app-add-edit-person (personSubmitted)="onPersonIdChange($event); onPersonSubmitted()"></app-add-edit-person>
        }
        @if (activeStep === 1) {
            <app-add-edit-employment (employmentSubmitted)="onEmploymentSubmitted()"></app-add-edit-employment>
        }
        @if (activeStep === 2) {
            <app-families></app-families>
        }
        @if (activeStep === 3) {
            <app-job-histories [employmentId]="employmentId ?? ''"></app-job-histories>
        }
        @if (activeStep === 4) {
            <app-training-courses [employmentId]="employmentId ?? ''"></app-training-courses>
        }
    </div>
</div>
