   <div class="auth-wrapper">
            <div class="auth-content">
                <div class="auth-bg">
                    <span class="r">
                        <img class="viewAr" src="/assets/img/viewAr.png" alt="" />
                    </span>
                    <span class="r s"></span>
                    <span class="r s"></span>
                    <span class="r">
                        <img class="viewEn" src="/assets/img/viewEn.png" alt="" />
                    </span>
                </div>
                <div class="card">
                    <form  [formGroup]="form" style="direction: rtl;">
                    <div class="mb-4">
                        <img class="logo-auth" src="/assets/img/title (2).png" alt="" />
                    </div>
                    <!--
                    <div dir="rtl" class="p-6 ">
                        <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">البريد الالكترونى</label>
                        <div class="col-lg-12">
                            <app-prime-input-text [formGroup]="form" contentType="email" controlName="email"> </app-prime-input-text>
                        </div>
                        <label for="Password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">الرقم السرى</label>
                        <div class="col-lg-12">
                            <app-prime-input-text [formGroup]="form" contentType="password" controlName="password"> </app-prime-input-text>
                        </div>
                        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                           
                        </div>
                      
                    </div> -->
                      <div class="col-lg-12">
                         <div class="mb-4">
            تغير كلمة المرور
          </div>     
                    <app-prime-input-text 
                        [formGroup]="form" 

                        contentType="password" 
                        controlName="oldPassword" 
                        [label]="'الرقم السري الحالي'">
                    </app-prime-input-text>
                    @if (form.get('oldPassword')?.invalid && form.get('oldPassword')?.touched) {
                        <small class="text-red-500">هذا الحقل مطلوب</small>
                    }
                </div>
                <div class="col-lg-12">
                    <app-prime-input-text 
                        [formGroup]="form" 
                        contentType="password" 
                        controlName="newPassword" 
                        [label]="'الرقم السري الجديد'">
                    </app-prime-input-text>
                    @if (form.get('newPassword')?.invalid && form.get('newPassword')?.touched) {
                        <small class="text-red-500">هذا الحقل مطلوب</small>
                    }
                </div>
                <div class="col-lg-12">
                    <app-prime-input-text 
                        [formGroup]="form" 
                        contentType="password" 
                        controlName="confirmPassword" 
                        [label]="'تأكيد الرقم السري'">
                    </app-prime-input-text>
                  
                </div>
                   <div class="flex items-center justify-center mt-4 mb-2 gap-4">
                            <p-button label="حفظ " styleClass="p-login-button" (click)="handleChangePassword()"></p-button>
                        </div>
                        <p class="mb-2 text-muted" >
                     الرجوع الي الشاشة الرئيسية ؟
            <a [routerLink]="['/dashboard']"> اضغط للعودة</a>
          </p>
                </form>
                </div>
            </div>
        </div>